@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: #f8fafc;
}

input, textarea, select {
  text-transform: uppercase;
}
